extends ../layout.pug
block content
  script(src='javascript/tweets/tweet.js')
  div(class='d-flex flex-row content mx-auto')
    include ../includes/profile
    div(class='flex-fill d-flex flex-column' id='tweet-list-container')
      include tweets-list.pug
